
/* Properties for cells */
.emptyCell {
    background-color: var(--empty-cell-color);
}

.wallCell {
    background-color: var(--wall-cell-color);
}

.startCell {
    background-color: var(--start-cell-color);
}

.endCell {
    background-color: var(--end-cell-color);
}

.emptyCell.weighted {
    background-color: var(--weighted-cell-color);
}

.path {
    background-color: var(--explored-cell-color);
    animation-name: growAndChangeColourForPathCell;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;

}

.explored {
    background-color: var(--explored-cell-color);
    animation-name: growAndChangeColourForEmptyCell;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Path animations */
@keyframes blink {
    50% {
      opacity: 0;
    }
} 

@keyframes grow {
    from {
        transform: scale(0.2);
        }
        to {
        transform: scale(1);
        }
}

@keyframes growAndChangeColourForEmptyCell {
    0% {
        background-color: var(--initial-animation-color);
    }
    50% {
        background-color: var(--mid-animation-color);
    }
    100% {
        background-color: var(--explored-cell-color);
    }

    from {
        transform: scale(0.1);
        border-radius: 100%;
    }
    to {
        transform: scale(1);
        border-radius: 0%;
    }
}

@keyframes growAndChangeColourForPathCell {
    0% {
        background-color: blue
    }
    50% {
        background-color: var(--mid-animation-color);
    }
    100% {
        background-color: var(--path-cell-color);
    }

    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1);
    }
}

