.sidePanel {
    width: 300px;
    background-color: #3E4C59;
    height: 100%;
    margin: 15px 10px 15px 10px;
}

.sidePanel .title {
    font-size: 150%;
    margin: 10px 0 0 15px;
}

.panelItemList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.panelItem {
    font-size: 100%;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #9FB3C8;
    padding: 10px;
    cursor: pointer;
}

.activeNote {
    font-weight: bold;
}

